* {
        border-radius: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 700px;
    background-color: rgba(178, 75, 238, 0.267);
    text-align: center;
    color: white;
}

a {
    color: rgba(255, 255, 255, 0.801);
    font-size: 30px;
    text-shadow: 2px 5px rgb(5, 34, 44);
}

h2{
    color:rgb(2, 56, 65);
    width: 700px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 9px rgb(198, 224, 208);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    color: ivory;
    margin: 5%;
    color: white;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(169, 124, 196, 0.603);
    color: white;
    padding: 5px;
    list-style: none;
}

img{
    width: 325px;
    height: 300px;
}

footer {
    height: 25px;
}

p {
    width: 245px;
    text-align: center;
    color: rgb(255, 255, 255);
}

button {
    background-color: rgba(236, 124, 161, 0.562);
    box-shadow: 4px 6px rgb(71, 26, 88);
    border: 1px solid rgba(71, 26, 88, 0.459);
    color: rgba(255, 255, 255, 0.726);
}