body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    height: 80px;
    background-color: rgba(178, 75, 238, 0.603);
    border-radius: 15px;
    text-align: center;
    color: white;
}
a {
    color: rgba(255, 255, 255, 0.801);
    font-size: 30px;
}

h2{
    color:rgb(198, 224, 208);
}

main {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

img{
    width: 350px;
    height: 300px;
}
