body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(33, 71, 59);
}
h2{
    color:rgb(198, 224, 208);
}

img{
    width: 250px;
    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}